## Análisis para determinar cual es el jugar mas importante de la NBA

Utilizaríamos el siguiente análisis como baseline, es un análisis similar que lo aplican a football.
[Referencia](https://towardsdatascience.com/who-is-the-premier-leagues-most-important-player-4f184f7b39e4)

La librería que recomienda el articulo de referencia para hacer gráficas para pagerank, es NetworkX. [Tutorial](https://networkx.github.io/documentation/stable/tutorial.html)

## Librerías

In [2]:
import pandas as pd

Importamos la información

El dataset que utilizaremos esta este análisis lo obtuvimos de [kaggle](https://www.kaggle.com/schmadam97/nba-playbyplay-data-20182019/data) y tiene la siguiente estructura.
+ GameType - Regular or Playoff
+ Location - Stadium Name
+ Date - Date of Game
+ Time - Time of Game
+ WinningTeam - Team that Won the Game

Hay mas variables que su nombre las explica.

Por ahora solo importaremos la información de 2016 - 2017

In [3]:
filename = 'NBA-PBP_2016-2017.csv'
data = pd.read_csv(filename)
pd.set_option('display.max_columns', 500)

Veamos los primeros 5 registros para ver que forma tiene la información.

In [4]:
data.head()

,URL,GameType,Location,Date,Time,WinningTeam,Quarter,SecLeft,AwayTeam,AwayPlay,...,FreeThrowNum,EnterGame,LeaveGame,TurnoverPlayer,TurnoverType,TurnoverCause,TurnoverCauser,JumpballAwayPlayer,JumpballHomePlayer,JumpballPoss
0,/boxscores/201610250CLE.html,regular,Quicken Loans Arena Cleveland Ohio,October 25 2016,7:30 PM,CLE,1,720,NYK,Jump ball: J. Noah vs. T. Thompson (D. Rose ga...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J. Noah - NYK,T. Thompson - CLE,D. Rose
1,/boxscores/201610250CLE.html,regular,Quicken Loans Arena Cleveland Ohio,October 25 2016,7:30 PM,CLE,1,700,NYK,D. Rose makes 2-pt layup from 1 ft (assist by ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/boxscores/201610250CLE.html,regular,Quicken Loans Arena Cleveland Ohio,October 25 2016,7:30 PM,CLE,1,686,NYK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/boxscores/201610250CLE.html,regular,Quicken Loans Arena Cleveland Ohio,October 25 2016,7:30 PM,CLE,1,683,NYK,Defensive rebound by J. Noah,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/boxscores/201610250CLE.html,regular,Quicken Loans Arena Cleveland Ohio,October 25 2016,7:30 PM,CLE,1,676,NYK,C. Anthony misses 2-pt jump shot from 20 ft,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Ahora los últimos 5.

In [5]:
data.tail()

,URL,GameType,Location,Date,Time,WinningTeam,Quarter,SecLeft,AwayTeam,AwayPlay,...,FreeThrowNum,EnterGame,LeaveGame,TurnoverPlayer,TurnoverType,TurnoverCause,TurnoverCauser,JumpballAwayPlayer,JumpballHomePlayer,JumpballPoss
596640,/boxscores/201704090LAL.html,regular,STAPLES Center Los Angeles California,April 9 2017,9:30 PM,LAL,4,5,MIN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596641,/boxscores/201704090LAL.html,regular,STAPLES Center Los Angeles California,April 9 2017,9:30 PM,LAL,4,3,MIN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596642,/boxscores/201704090LAL.html,regular,STAPLES Center Los Angeles California,April 9 2017,9:30 PM,LAL,4,2,MIN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596643,/boxscores/201704090LAL.html,regular,STAPLES Center Los Angeles California,April 9 2017,9:30 PM,LAL,4,0,MIN,End of 4th quarter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596644,/boxscores/201704090LAL.html,regular,STAPLES Center Los Angeles California,April 9 2017,9:30 PM,LAL,4,0,MIN,End of Game,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Ahora veamos cuantas entradas tiene el dataset a total y para cada una de las columnas.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596645 entries, 0 to 596644
Data columns (total 40 columns):
URL                   596645 non-null object
GameType              596645 non-null object
Location              596645 non-null object
Date                  596645 non-null object
Time                  596645 non-null object
WinningTeam           596645 non-null object
Quarter               596645 non-null int64
SecLeft               596645 non-null int64
AwayTeam              596645 non-null object
AwayPlay              302493 non-null object
AwayScore             596645 non-null int64
HomeTeam              596645 non-null object
HomePlay              294152 non-null object
HomeScore             596645 non-null int64
Shooter               223288 non-null object
ShotType              223288 non-null object
ShotOutcome           223288 non-null object
ShotDist              223288 non-null float64
Assister              59138 non-null object
Blocker               12485 non-null object
FoulType              53930 non-null object
Fouler                53930 non-null object
Fouled                50912 non-null object
Rebounder             134962 non-null object
ReboundType           134962 non-null object
ViolationPlayer       2294 non-null object
ViolationType         2294 non-null object
TimeoutTeam           17765 non-null object
FreeThrowShooter      60620 non-null object
FreeThrowOutcome      60620 non-null object
FreeThrowNum          60620 non-null object
EnterGame             58529 non-null object
LeaveGame             58529 non-null object
TurnoverPlayer        36456 non-null object
TurnoverType          36456 non-null object
TurnoverCause         20171 non-null object
TurnoverCauser        20171 non-null object
JumpballAwayPlayer    2026 non-null object
JumpballHomePlayer    2026 non-null object
JumpballPoss          2026 non-null object
dtypes: float64(1), int64(4), object(35)
memory usage: 182.1+ MB

Veamos la primera observación del dataset completa.

In [8]:
#data.columns.get_loc('Date')    --   Codigo util para obtener el indice de la columna dando el nombre
data.iloc[0]

URL                                        /boxscores/201610250CLE.html
GameType                                                        regular
Location                             Quicken Loans Arena Cleveland Ohio
Date                                                    October 25 2016
Time                                                            7:30 PM
WinningTeam                                                         CLE
Quarter                                                               1
SecLeft                                                             720
AwayTeam                                                            NYK
AwayPlay              Jump ball: J. Noah vs. T. Thompson (D. Rose ga...
AwayScore                                                             0
HomeTeam                                                            CLE
HomePlay                                                            NaN
HomeScore                                                             0
Shooter                                                             NaN
ShotType                                                            NaN
ShotOutcome                                                         NaN
ShotDist                                                            NaN
Assister                                                            NaN
Blocker                                                             NaN
FoulType                                                            NaN
Fouler                                                              NaN
Fouled                                                              NaN
Rebounder                                                           NaN
ReboundType                                                         NaN
ViolationPlayer                                                     NaN
ViolationType                                                       NaN
TimeoutTeam                                                         NaN
FreeThrowShooter                                                    NaN
FreeThrowOutcome                                                    NaN
FreeThrowNum                                                        NaN
EnterGame                                                           NaN
LeaveGame                                                           NaN
TurnoverPlayer                                                      NaN
TurnoverType                                                        NaN
TurnoverCause                                                       NaN
TurnoverCauser                                                      NaN
JumpballAwayPlayer                                        J. Noah - NYK
JumpballHomePlayer                                    T. Thompson - CLE
JumpballPoss                                                    D. Rose
Name: 0, dtype: object

Veamos alguna observación (jugada) en la que se obtuvieron puntos para ver como lo reporta el dataset.

In [9]:
pd.unique(data['ShotOutcome'])

array([nan, 'make', 'miss'], dtype=object)

In [10]:
shotoutcome_make = data[data['ShotOutcome'] == 'make']
shotoutcome_make.iloc[0]

URL                                        /boxscores/201610250CLE.html
GameType                                                        regular
Location                             Quicken Loans Arena Cleveland Ohio
Date                                                    October 25 2016
Time                                                            7:30 PM
WinningTeam                                                         CLE
Quarter                                                               1
SecLeft                                                             700
AwayTeam                                                            NYK
AwayPlay              D. Rose makes 2-pt layup from 1 ft (assist by ...
AwayScore                                                             2
HomeTeam                                                            CLE
HomePlay                                                            NaN
HomeScore                                                             0
Shooter                                                   D. Rose - NYK
ShotType                                                     2-pt layup
ShotOutcome                                                        make
ShotDist                                                              1
Assister                                                  J. Noah - NYK
Blocker                                                             NaN
FoulType                                                            NaN
Fouler                                                              NaN
Fouled                                                              NaN
Rebounder                                                           NaN
ReboundType                                                         NaN
ViolationPlayer                                                     NaN
ViolationType                                                       NaN
TimeoutTeam                                                         NaN
FreeThrowShooter                                                    NaN
FreeThrowOutcome                                                    NaN
FreeThrowNum                                                        NaN
EnterGame                                                           NaN
LeaveGame                                                           NaN
TurnoverPlayer                                                      NaN
TurnoverType                                                        NaN
TurnoverCause                                                       NaN
TurnoverCauser                                                      NaN
JumpballAwayPlayer                                                  NaN
JumpballHomePlayer                                                  NaN
JumpballPoss                                                        NaN
Name: 1, dtype: object

In [11]:
shotoutcome_miss = data[data['ShotOutcome'] == 'miss']
shotoutcome_miss.iloc[1]

URL                                  /boxscores/201610250CLE.html
GameType                                                  regular
Location                       Quicken Loans Arena Cleveland Ohio
Date                                              October 25 2016
Time                                                      7:30 PM
WinningTeam                                                   CLE
Quarter                                                         1
SecLeft                                                       676
AwayTeam                                                      NYK
AwayPlay              C. Anthony misses 2-pt jump shot from 20 ft
AwayScore                                                       2
HomeTeam                                                      CLE
HomePlay                                                      NaN
HomeScore                                                       0
Shooter                                          C. Anthony - NYK
ShotType                                           2-pt jump shot
ShotOutcome                                                  miss
ShotDist                                                       20
Assister                                                      NaN
Blocker                                                       NaN
FoulType                                                      NaN
Fouler                                                        NaN
Fouled                                                        NaN
Rebounder                                                     NaN
ReboundType                                                   NaN
ViolationPlayer                                               NaN
ViolationType                                                 NaN
TimeoutTeam                                                   NaN
FreeThrowShooter                                              NaN
FreeThrowOutcome                                              NaN
FreeThrowNum                                                  NaN
EnterGame                                                     NaN
LeaveGame                                                     NaN
TurnoverPlayer                                                NaN
TurnoverType                                                  NaN
TurnoverCause                                                 NaN
TurnoverCauser                                                NaN
JumpballAwayPlayer                                            NaN
JumpballHomePlayer                                            NaN
JumpballPoss                                                  NaN
Name: 4, dtype: object

Veamos los valores únicos de las columnas.

In [12]:
pd.unique(data['Quarter'])

array([1, 2, 3, 4, 5, 6, 7, 8])

In [13]:
pd.unique(data['ShotType'])

array([nan, '2-pt layup', '2-pt hook shot', '2-pt jump shot',
       '3-pt jump shot', '2-pt dunk', '3-pt hook shot', '3-pt layup'],
      dtype=object)

In [14]:
pd.unique(data['Blocker'])

array([nan, 'K. Porziis - NYK', 'D. Rose - NYK', "K. O'Quinn - NYK",
       'C. Frye - CLE', 'I. Shumpert - CLE', 'C. Lee - NYK',
       'L. James - CLE', 'D. Liggins - CLE', 'C. Andersen - CLE',
       'R. Hood - UTA', 'G. Hill - UTA', 'E. Davis - POR',
       'J. Withey - UTA', 'R. Gobert - UTA', 'E. Turner - POR',
       'N. Vonleh - POR', 'K. Durant - GSW', 'D. Dedmon - SAS',
       'J. Simmons - SAS', 'D. West - GSW', 'D. Green - GSW',
       'I. Clark - GSW', 'P. McCaw - GSW', 'A. Bogut - DAL',
       'J. Anderson - DAL', 'M. Turner - IND', 'J. Barea - DAL',
       'D. Powell - DAL', 'S. Curry - DAL', 'A. Jefferson - IND',
       'D. Williams - DAL', 'D. Nowitzki - DAL', 'L. Allen - IND',
       'H. Whiteside - MIA', 'E. Payton - ORL', 'J. Winslow - MIA',
       'A. Gordon - ORL', 'S. Ibaka - ORL', 'W. Reed - MIA',
       'A. Horford - BOS', 'J. Crowder - BOS', 'J. Brown - BOS',
       'T. Zeller - BOS', 'J. Lin - BRK', 'J. Harris - BRK',
       'D. Gallinari - DEN', 'A. Davis - NOP', 'J. Nurki - DEN',
       'E. Moore - NOP', 'K. Faried - DEN', 'R. Hibbert - CHO',
       'M. Plumlee - MIL', 'M. Beasley - MIL', 'G. Monroe - MIL',
       'C. Zeller - CHO', 'S. Hawes - CHO', 'M. Williams - CHO',
       'M. Kidd-Gilchrist - CHO', 'G. Antetokounmpo - MIL',
       'A. Wiggins - MIN', 'N. Bjelica - MIN', 'D. Davis - MEM',
       'W. Baldwin - MEM', 'C. Aldrich - MIN', 'K. Towns - MIN',
       'M. Conley - MEM', 'M. Gasol - MEM', 'G. Dieng - MIN',
       'V. Carter - MEM', 'J. Green - MEM', 'R. Covington - PHI',
       'J. Embiid - PHI', 'V. Oladipo - OKC', 'R. Holmes - PHI',
       'J. Grant - PHI', 'J. Okafor - PHI', 'E. Kanter - OKC',
       'H. Thompson - PHI', 'A. Roberson - OKC', 'J. Dudley - PHO',
       'R. Gay - SAC', 'M. Chriss - PHO', 'T. Lawson - SAC',
       'T. Ulis - PHO', 'M. Huertas - LAL', 'N. Young - LAL',
       'C. Capela - HOU', 'L. Nance - LAL', 'J. Randle - LAL',
       'J. Wall - WAS', 'M. Gortat - WAS', 'A. Nicholson - WAS',
       'M. Muscala - ATL', 'P. Millsap - ATL', 'M. Morris - WAS',
       'D. Howard - ATL', 'A. Bradley - BOS', 'G. Green - BOS',
       'A. Johnson - BOS', 'D. Wade - CHI', '. Ak - NOP',
       'J. Holiday - NOP', 'T. Jones - NOP', 'T. Frazier - NOP',
       'A. Crabbe - POR', 'R. Lopez - CHI', 'J. Pltl - TOR',
       'B. Portis - CHI', 'M. Carter-Williams - CHI', 'J. Grant - CHI',
       'R. Hollis-Jefferson - BRK', 'A. Len - PHO', 'S. Dinwiddie - BRK',
       'K. McDaniels - BRK', 'B. Lopez - BRK', 'I. Whitehead - BRK',
       'N. Noel - PHI', 'L. Mbah a Moute - LAC', 'D. ari - PHI',
       'D. Booker - PHO', 'T. Gibson - OKC', 'A. Williams - PHO',
       'S. Adams - OKC', 'J. Grant - OKC', 'E. Bledsoe - PHO',
       'L. Barbosa - PHO', 'J. Noah - NYK', 'P. Tucker - PHO',
       'T. Chandler - PHO', 'D. Jordan - LAC', 'M. Speights - LAC',
       'C. McCullough - BRK', 'B. Bass - LAC', 'D. Stone - LAC',
       'T. Graham - CHO', 'M. Ellis - IND', 'K. Sraphin - IND',
       'J. Hamilton - BRK', 'W. Barton - DEN', 'N. Joki - DEN',
       'K. Thompson - GSW', 'J. Johnson - MIA', 'S. Livingston - GSW',
       'S. Curry - GSW', 'R. Rondo - CHI', 'N. Miroti - CHI',
       'T. Gibson - CHI', 'D. Valentine - CHI', 'S. Mejri - DAL',
       'D. Finney-Smith - DAL', 'D. Cunningham - NOP', 'M. Harrell - HOU',
       'I. Zubac - LAL', 'J. Clarkson - LAL', 'B. Ingram - LAL',
       'G. Henderson - PHI', 'D. Nwaba - LAL', 'D. Williams - CLE',
       'T. Thompson - CLE', 'J. Henson - MIL', 'M. Teletovi - MIL',
       'J. Martin - MEM', 'J. Jones - CLE', 'T. Allen - MEM',
       'J. Ennis - MEM', 'D. Green - SAS', 'D. Bertns - SAS',
       'A. Harrison - MEM', 'I. Mahinmi - WAS', 'K. Oubre - WAS',
       'J. Smith - WAS', 'S. Ibaka - TOR', 'B. Beal - WAS',
       'P. Tucker - TOR', 'G. Hayward - UTA', 'P. George - IND',
       'R. Neto - UTA', 'J. Teague - IND', 'G. Robinson - IND',
       'J. Ingles - UTA', 'G. Payton - MIL', 'M. Smart - BOS',
       'I. Thomas - BOS', 'M. Brogdon - MIL', 'T. Maker - MIL',
       'R. Vaughn - MIL', 'A. Payne - MIN', 'T. Sefolosha - ATL',
       'D. Schrder - ATL', 'T. Daniels - MEM', 'L. Deng - LAL',
       'K. Bazemore - ATL', 'N. Hilrio - HOU', 'J. Harden - HOU',
       'E. Gordon - HOU', 'D. McDermott - OKC', 'K. Koufos - SAC',
       'T. Mozgov - LAL', 'M. Barnes - SAC', 'K. Olynyk - BOS',
       'J. Jerebko - BOS', 'T. Rozier - BOS', 'J. McAdoo - GSW',
       'A. Iguodala - GSW', 'K. Dunn - MIN', 'D. Motiejnas - NOP',
       'P. Mills - SAS', 'J. McGee - GSW', 'B. Forbes - SAS',
       'D. Cousins - SAC', 'P. Beverley - HOU', 'S. Dekker - HOU',
       'R. Christmas - IND', 'T. Booker - BRK', 'E. lyasova - PHI',
       'N. Stauskas - PHI', 'J. Lamb - CHO', 'W. Hernangmez - NYK',
       'G. Temple - SAC', 'T. Warren - PHO', 'J. Nurki - POR',
       'C. McCollum - POR', 'T. Waller-Prince - ATL', 'E. lyasova - ATL',
       'M. Harkless - POR', 'C. Felcio - CHI', 'R. Westbrook - OKC',
       'D. Sabonis - OKC', 'E. lyasova - OKC', 'T. Hardaway - ATL',
       'K. Anderson - SAS', 'M. Ginbili - SAS', 'P. Gasol - SAS',
       'D. Lee - SAS', 'Z. Pachulia - GSW', 'N. Batum - CHO',
       'M. Dunleavy - CLE', 'N. Vuevi - ORL', 'K. Looney - GSW',
       'H. Barnes - DAL', 'K. Lowry - TOR', 'L. Nogueira - TOR',
       'N. Powell - TOR', 'J. Valaninas - TOR', 'D. Murray - SAS',
       'T. Ross - TOR', 'K. Leonard - SAS', 'L. Aldridge - SAS',
       'N. Laprovttola - SAS', 'T. Johnson - MIA', 'W. Ellington - MIA',
       'T. Black - LAL', 'D. Williams - MIA', 'N. Noel - DAL',
       'Q. Acy - BRK', 'A. Brooks - IND', 'D. Arthur - DEN',
       'K. Love - CLE', 'K. Irving - CLE', 'G. Harris - DEN',
       'D. Favors - UTA', 'T. Lyles - UTA', 'D. Jones - PHO',
       'D. Lillard - POR', 'M. Plumlee - POR', 'T. Harris - DET',
       'W. Chandler - DEN', 'B. Biyombo - ORL', 'T. Ross - ORL',
       'J. Smith - CLE', 'K. Korver - CLE', 'M. Plumlee - DEN',
       'A. Ajina - NOP', 'C. Diallo - NOP', 'R. Hibbert - DEN',
       'D. DeRozan - TOR', 'W. Matthews - DAL', 'D. Wright - TOR',
       'M. Dunleavy - ATL', 'D. Harris - DAL', 'Z. Randolph - MEM',
       'C. Miles - IND', 'T. Douglas - MEM', 'T. Young - IND',
       'J. Butler - CHI', 'K. Walker - CHO', 'P. Siakam - TOR',
       'J. Crawford - LAC', 'A. Rivers - LAC', 'S. Hill - NOP',
       'B. Diaw - UTA', 'J. Crawford - NOP', 'M. Belinelli - CHO',
       'J. Sullinger - TOR', 'F. Kaminsky - CHO', 'D. Carroll - TOR',
       'J. Redick - LAC', 'W. Johnson - LAC', 'R. Felton - LAC',
       'B. Griffin - LAC', 'B. Hield - NOP', '. Abrines - OKC',
       'L. Williams - HOU', 'T. Ariza - HOU', 'S. Long - PHI',
       'J. Anderson - PHI', 'K. Felder - CLE', 'W. Cauley-Stein - SAC',
       'A. Tolliver - SAC', 'P. Zipser - CHI', 'R. Rubio - MIN',
       'A. Aminu - POR', 'B. Rush - MIN', 'A. Afflalo - SAC',
       'S. Labissire - SAC', 'A. Varejo - GSW', 'T. Robinson - LAL',
       'C. Payne - OKC', 'R. Jefferson - CLE', 'P. Patterson - TOR',
       'C. Watson - ORL', 'B. Wright - MEM', 'J. Richardson - MIA',
       'R. McGruder - MIA', 'J. Johnson - UTA', 'C. Joseph - TOR',
       'J. Leuer - DET', 'S. Johnson - DET', 'J. Green - ORL',
       'C. Anthony - NYK', 'R. Baker - NYK', 'D. Bender - PHO',
       'G. Dragi - MIA', 'D. Cousins - NOP', 'J. Bolomboy - UTA',
       'O. Porter - WAS', 'M. Thornton - WAS', 'A. Goodwin - BRK',
       'M. Kuzminskas - NYK', 'M. Barnes - GSW', 'D. Waiters - MIA',
       'J. McRoberts - MIA', 'C. Brewer - HOU', 'J. Parker - MIL',
       'T. Snell - MIL', 'J. Mickey - BOS', 'J. Young - BOS',
       'L. Galloway - NOP', 'J. Holiday - NYK', 'S. Vujai - NYK',
       'D. Exum - UTA', 'K. Humphries - ATL', 'Y. Ferrell - DAL',
       'A. Hammons - DAL', 'J. Uthoff - DAL', 'T. Williams - MEM',
       'A. Drummond - DET', 'L. Babbitt - MIA', 'J. Terry - MIL',
       'K. Middleton - MIL', 'C. Paul - LAC', 'J. Murray - DEN',
       'J. Hernangmez - DEN', 'A. Gee - DEN', 'J. Nelson - DEN',
       'A. Baynes - DET', 'J. Lauvergne - OKC', 'W. Selden - MEM',
       'L. Thomas - NYK', 'B. Johnson - LAC', 'P. Pierce - LAC',
       'C. Brewer - LAL', 'B. McLemore - SAC', 'E. Mudiay - DEN',
       'M. Leonard - POR', 'I. Smith - DET', 'N. Cole - OKC',
       'L. Scola - BRK', 'Y. Ferrell - BRK', 'M. Ndour - NYK',
       'J. Layman - POR', 'G. Papagiannis - SAC', 'S. Hawes - MIL',
       'R. Price - PHO', 'K. Caldwell-Pope - DET', 'R. Anderson - HOU',
       'C. Onuaku - HOU', 'H. Ellenson - DET', 'B. Hield - SAC',
       'T. Parker - SAS', 'K. McDaniels - HOU', 'K. Korver - ATL',
       'D. Russell - LAL', 'E. Tavares - CLE', 'B. Caboclo - TOR',
       'B. Marjanovi - DET', 'M. Morris - DET', 'O. White - MIA',
       'J. Anthony - SAS', 'M. Hezonja - ORL', 'N. Brussino - DAL',
       'R. Jackson - DET', 'T. Evans - NOP', 'J. Meeks - ORL',
       'J. McRae - CLE', 'S. Zimmerman - ORL', 'T. Luwawu-Cabarrot - PHI',
       'D. McDermott - CHI', 'M. Plumlee - CHO', 'B. Bogdanovi - WAS',
       'T. McConnell - PHI', 'T. Jones - MIN', 'D. Jones - GSW',
       'E. Fournier - ORL', 'B. Knight - PHO', 'O. Casspi - SAC',
       'S. Muhammad - MIN', 'I. Taylor - HOU', 'M. Richardson - SAC',
       'D. Collison - SAC', 'T. Evans - SAC', 'J. Caldern - LAL',
       'S. Rodrguez - PHI', 'T. Burke - WAS', 'L. Williams - LAL',
       'T. Satoransk - WAS', 'C. LeVert - BRK', 'A. Burks - UTA',
       'A. Bennett - BRK', 'K. Singler - OKC', 'P. Connaughton - POR',
       'A. Brown - NOP', 'R. Kelly - ATL', 'L. Sanders - CLE',
       'S. Mack - UTA', 'M. Dellavedova - MIL', 'T. Quarterman - POR',
       'A. Goodwin - NOP', 'L. Galloway - SAC', 'R. Foye - BRK',
       'R. Sessions - CHO', 'B. Jennings - NYK', 'M. Plumlee - NYK',
       'D. Bembry - ATL', 'M. Scott - ATL', 'F. VanVleet - TOR',
       'C. Randle - PHI', 'T. Splitter - PHI', 'Z. LaVine - MIN',
       'L. Stephenson - IND', 'U. Haslem - MIA', 'J. Huestis - OKC',
       'N. Collison - OKC', 'S. Christon - OKC', 'T. Williams - HOU',
       'O. Casspi - MIN', 'S. Mac - WAS', 'K. Wiltjer - HOU',
       'R. Bullock - DET', 'M. World Peace - LAL', 'C. Parsons - MEM',
       'C. Randle - NYK', 'T. Jones - MIL', 'B. Bogdanovi - BRK',
       'S. Kilpatrick - BRK', 'M. Delaney - ATL', 'J. Caldern - ATL',
       'A. Poythress - PHI', 'T. Ennis - LAL', 'D. Hilliard - DET',
       'A. Morrow - OKC', 'B. Roberts - CHO', 'C. Wood - CHO',
       'S. Napier - POR', 'G. Vsquez - BRK', 'D. Augustin - ORL',
       'A. Onuaku - ORL', 'I. Canaan - CHI', 'A. Toupane - NOP',
       'L. Stephenson - NOP', 'D. Jones - CLE', 'C. Wilcox - ORL',
       'D. Rude - ORL', 'B. Weber - GSW', "J. O'Bryant - DEN"],
      dtype=object)

In [15]:
pd.unique(data['GameType'])

array(['regular', 'playoff'], dtype=object)

In [16]:
pd.unique(data['FoulType'])

array([nan, 'offensive', 'shooting', 'personal', 'def 3 sec tech',
       'loose ball', 'offensive charge', 'shooting block',
       'personal block', 'personal take', 'technical', 'flagrant',
       'inbound', 'clear path', 'away from play'], dtype=object)

In [17]:
pd.unique(data['ReboundType'])

array([nan, 'defensive', 'offensive'], dtype=object)

In [18]:
pd.unique(data['ViolationType'])

array([nan, 'kicked ball', 'jump ball', 'def goaltending', 'lane',
       'delay of game', 'double lane'], dtype=object)

Analisis - play offs 2018 - Equipo cavaliers, determinar MVP

Buscar trabajos similares de referencia.