In [1]:
import pandas as pd

Importamos todas las temporadas de 2016-17 a 2019-20

In [2]:
#temporada 2016-17
filename = '/Users/diegovillalizarraga/Maestria Ciencia de Datos ITAM/2do Semestre/Metodos Analiticos/Proyecto Final/NBA-PBP_2016-2017.csv'
df_16 = pd.read_csv(filename)

In [3]:
#temporada 2017-18
filename = '/Users/diegovillalizarraga/Maestria Ciencia de Datos ITAM/2do Semestre/Metodos Analiticos/Proyecto Final/NBA-PBP-2017-2018.csv'
df_17 = pd.read_csv(filename)

In [4]:
#temporada 2018-19
filename = '/Users/diegovillalizarraga/Maestria Ciencia de Datos ITAM/2do Semestre/Metodos Analiticos/Proyecto Final/NBA-PBP-2018-2019.csv'
df_18 = pd.read_csv(filename)

In [5]:
#temporada 2019-20
filename = '/Users/diegovillalizarraga/Maestria Ciencia de Datos ITAM/2do Semestre/Metodos Analiticos/Proyecto Final/NBA-PBP-2019-2020.csv'
df_19 = pd.read_csv(filename)

Agregaremos una columna que la llamaremos temporada en cada uno de los dataframe.

In [6]:
pd.set_option('display.max_columns', 500)

In [7]:
df_16['Temporada'] = '2016-2017'

In [8]:
df_17['Temporada'] = '2017-2018'

In [9]:
df_18['Temporada'] = '2018-2019'

In [10]:
df_19['Temporada'] = '2019-2020'

In [11]:
data = df_16
data = data.append(df_17)
data = data.append(df_18)
data = data.append(df_19)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2299301 entries, 0 to 457716
Data columns (total 41 columns):
 #   Column              Dtype
---  ------              -----
 0   URL                 object
 1   GameType            object
 2   Location            object
 3   Date                object
 4   Time                object
 5   WinningTeam         object
 6   Quarter             float64
 7   SecLeft             float64
 8   AwayTeam            object
 9   AwayPlay            object
 10  AwayScore           float64
 11  HomeTeam            object
 12  HomePlay            object
 13  HomeScore           float64
 14  Shooter             object
 15  ShotType            object
 16  ShotOutcome         object
 17  ShotDist            float64
 18  Assister            object
 19  Blocker             object
 20  FoulType            object
 21  Fouler              object
 22  Fouled              object
 23  Rebounder           object
 24  ReboundType         object
 25  ViolationPlayer     object
 26  ViolationType       object
 27  TimeoutTeam         object
 28  FreeThrowShooter    object
 29  FreeThrowOutcome    object
 30  FreeThrowNum        object
 31  EnterGame           object
 32  LeaveGame           object
 33  TurnoverPlayer      object
 34  TurnoverType        object
 35  TurnoverCause       object
 36  TurnoverCauser      object
 37  JumpballAwayPlayer  object
 38  JumpballHomePlayer  object
 39  JumpballPoss        object
 40  Temporada           object
dtypes: float64(5), object(36)
memory usage: 736.8+ MB

Validaremos que el dataframe si tenga todas las temporadas

In [13]:
data['Temporada'].unique()

array(['2016-2017', '2017-2018', '2018-2019', '2019-2020'], dtype=object)

In [14]:
data['GameType'].unique()

array(['regular', 'playoff'], dtype=object)

In [15]:
data['ShotOutcome'].unique()

array([nan, 'make', 'miss'], dtype=object)

In [16]:
#filtramos por playoffs
playoff = data['GameType'] == 'playoff'
df_playoff = data[playoff]

In [17]:
df_playoff.head()

,URL,GameType,Location,Date,Time,WinningTeam,Quarter,SecLeft,AwayTeam,AwayPlay,AwayScore,HomeTeam,HomePlay,HomeScore,Shooter,ShotType,ShotOutcome,ShotDist,Assister,Blocker,FoulType,Fouler,Fouled,Rebounder,ReboundType,ViolationPlayer,ViolationType,TimeoutTeam,FreeThrowShooter,FreeThrowOutcome,FreeThrowNum,EnterGame,LeaveGame,TurnoverPlayer,TurnoverType,TurnoverCause,TurnoverCauser,JumpballAwayPlayer,JumpballHomePlayer,JumpballPoss,Temporada
15962,/boxscores/201704220MEM.html,playoff,FedEx Forum Memphis Tennessee,April 22 2017,8:00 PM,MEM,1.0,720.0,SAS,Jump ball: L. Aldridge vs. M. Gasol (K. Leonar...,0.0,MEM,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L. Aldridge - SAS,M. Gasol - MEM,K. Leonard,2016-2017
15963,/boxscores/201704220MEM.html,playoff,FedEx Forum Memphis Tennessee,April 22 2017,8:00 PM,MEM,1.0,697.0,SAS,D. Green misses 2-pt jump shot from 13 ft,0.0,MEM,NaN,0.0,D. Green - SAS,2-pt jump shot,miss,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-2017
15964,/boxscores/201704220MEM.html,playoff,FedEx Forum Memphis Tennessee,April 22 2017,8:00 PM,MEM,1.0,695.0,SAS,Offensive rebound by D. Lee,0.0,MEM,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D. Lee - SAS,offensive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-2017
15965,/boxscores/201704220MEM.html,playoff,FedEx Forum Memphis Tennessee,April 22 2017,8:00 PM,MEM,1.0,695.0,SAS,D. Lee makes 2-pt layup from 1 ft,2.0,MEM,NaN,0.0,D. Lee - SAS,2-pt layup,make,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-2017
15966,/boxscores/201704220MEM.html,playoff,FedEx Forum Memphis Tennessee,April 22 2017,8:00 PM,MEM,1.0,686.0,SAS,NaN,2.0,MEM,Personal foul by D. Green (drawn by V. Carter),0.0,NaN,NaN,NaN,NaN,NaN,NaN,personal,D. Green - SAS,V. Carter - MEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-2017

In [18]:
df_playoff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112877 entries, 15962 to 613670
Data columns (total 41 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   URL                 112877 non-null  object
 1   GameType            112877 non-null  object
 2   Location            112877 non-null  object
 3   Date                112877 non-null  object
 4   Time                112877 non-null  object
 5   WinningTeam         112877 non-null  object
 6   Quarter             112877 non-null  float64
 7   SecLeft             112877 non-null  float64
 8   AwayTeam            112877 non-null  object
 9   AwayPlay            56842 non-null   object
 10  AwayScore           112877 non-null  float64
 11  HomeTeam            112877 non-null  object
 12  HomePlay            56035 non-null   object
 13  HomeScore           112877 non-null  float64
 14  Shooter             41991 non-null   object
 15  ShotType            41991 non-null   object
 16  ShotOutcome         41991 non-null   object
 17  ShotDist            41991 non-null   float64
 18  Assister            11059 non-null   object
 19  Blocker             2381 non-null    object
 20  FoulType            10753 non-null   object
 21  Fouler              10751 non-null   object
 22  Fouled              10318 non-null   object
 23  Rebounder           25580 non-null   object
 24  ReboundType         25580 non-null   object
 25  ViolationPlayer     371 non-null     object
 26  ViolationType       371 non-null     object
 27  TimeoutTeam         2889 non-null    object
 28  FreeThrowShooter    11669 non-null   object
 29  FreeThrowOutcome    11669 non-null   object
 30  FreeThrowNum        11669 non-null   object
 31  EnterGame           11511 non-null   object
 32  LeaveGame           11511 non-null   object
 33  TurnoverPlayer      6590 non-null    object
 34  TurnoverType        6594 non-null    object
 35  TurnoverCause       3621 non-null    object
 36  TurnoverCauser      3621 non-null    object
 37  JumpballAwayPlayer  406 non-null     object
 38  JumpballHomePlayer  406 non-null     object
 39  JumpballPoss        406 non-null     object
 40  Temporada           112877 non-null  object
dtypes: float64(5), object(36)
memory usage: 36.2+ MB

In [19]:
#filtramos por tiros concretados
make = df_playoff['ShotOutcome'] == 'make'
df_playoff = df_playoff[make]

In [20]:
df_playoff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19030 entries, 15965 to 613648
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   URL                 19030 non-null  object
 1   GameType            19030 non-null  object
 2   Location            19030 non-null  object
 3   Date                19030 non-null  object
 4   Time                19030 non-null  object
 5   WinningTeam         19030 non-null  object
 6   Quarter             19030 non-null  float64
 7   SecLeft             19030 non-null  float64
 8   AwayTeam            19030 non-null  object
 9   AwayPlay            9343 non-null   object
 10  AwayScore           19030 non-null  float64
 11  HomeTeam            19030 non-null  object
 12  HomePlay            9687 non-null   object
 13  HomeScore           19030 non-null  float64
 14  Shooter             19030 non-null  object
 15  ShotType            19030 non-null  object
 16  ShotOutcome         19030 non-null  object
 17  ShotDist            19030 non-null  float64
 18  Assister            11059 non-null  object
 19  Blocker             0 non-null      object
 20  FoulType            0 non-null      object
 21  Fouler              0 non-null      object
 22  Fouled              0 non-null      object
 23  Rebounder           0 non-null      object
 24  ReboundType         0 non-null      object
 25  ViolationPlayer     0 non-null      object
 26  ViolationType       0 non-null      object
 27  TimeoutTeam         0 non-null      object
 28  FreeThrowShooter    0 non-null      object
 29  FreeThrowOutcome    0 non-null      object
 30  FreeThrowNum        0 non-null      object
 31  EnterGame           0 non-null      object
 32  LeaveGame           0 non-null      object
 33  TurnoverPlayer      0 non-null      object
 34  TurnoverType        0 non-null      object
 35  TurnoverCause       0 non-null      object
 36  TurnoverCauser      0 non-null      object
 37  JumpballAwayPlayer  0 non-null      object
 38  JumpballHomePlayer  0 non-null      object
 39  JumpballPoss        0 non-null      object
 40  Temporada           19030 non-null  object
dtypes: float64(5), object(36)
memory usage: 6.1+ MB

In [21]:
df_pairs = df_playoff.groupby(["Shooter","Assister", ]).size().reset_index().rename(columns={0:'count'})

In [22]:
df_pairs.head()

           Shooter            Assister  count
0  . Abrines - OKC  D. McDermott - OKC      1
1  . Abrines - OKC      J. Grant - OKC      4
2  . Abrines - OKC       N. Cole - OKC      1
3  . Abrines - OKC  P. Patterson - OKC      1
4  . Abrines - OKC  R. Westbrook - OKC      4

In [23]:
df_pairs[['shooter','sh_team']]= df_pairs.Shooter.str.split(" - ",expand=True)
df_pairs[['assister','as_team']]= df_pairs.Assister.str.split(" - ",expand=True)

In [24]:
df_pairs.head()

,Shooter,Assister,count,shooter,sh_team,assister,as_team
0,. Abrines - OKC,D. McDermott - OKC,1,. Abrines,OKC,D. McDermott,OKC
1,. Abrines - OKC,J. Grant - OKC,4,. Abrines,OKC,J. Grant,OKC
2,. Abrines - OKC,N. Cole - OKC,1,. Abrines,OKC,N. Cole,OKC
3,. Abrines - OKC,P. Patterson - OKC,1,. Abrines,OKC,P. Patterson,OKC
4,. Abrines - OKC,R. Westbrook - OKC,4,. Abrines,OKC,R. Westbrook,OKC

In [25]:
df_pairs['team'] = df_pairs['sh_team']
df_pairs.head()

,Shooter,Assister,count,shooter,sh_team,assister,as_team,team
0,. Abrines - OKC,D. McDermott - OKC,1,. Abrines,OKC,D. McDermott,OKC,OKC
1,. Abrines - OKC,J. Grant - OKC,4,. Abrines,OKC,J. Grant,OKC,OKC
2,. Abrines - OKC,N. Cole - OKC,1,. Abrines,OKC,N. Cole,OKC,OKC
3,. Abrines - OKC,P. Patterson - OKC,1,. Abrines,OKC,P. Patterson,OKC,OKC
4,. Abrines - OKC,R. Westbrook - OKC,4,. Abrines,OKC,R. Westbrook,OKC,OKC

In [26]:
col = ['shooter', 'assister', 'team', 'count']
df_pairs = df_pairs[col]

# Tabla de pares para playoffs.

In [27]:
df_pairs

          shooter      assister team  count
0       . Abrines  D. McDermott  OKC      1
1       . Abrines      J. Grant  OKC      4
2       . Abrines       N. Cole  OKC      1
3       . Abrines  P. Patterson  OKC      1
4       . Abrines  R. Westbrook  OKC      4
...           ...           ...  ...    ...
2485  Z. Randolph   A. Harrison  MEM      2
2486  Z. Randolph     M. Conley  MEM      6
2487  Z. Randolph      M. Gasol  MEM      4
2488  Z. Randolph     V. Carter  MEM      3
2489  Z. Randolph     W. Selden  MEM      2

[2490 rows x 4 columns]

In [28]:
df_pairs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2490 entries, 0 to 2489
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   shooter   2490 non-null   object
 1   assister  2490 non-null   object
 2   team      2490 non-null   object
 3   count     2490 non-null   int64
dtypes: int64(1), object(3)
memory usage: 77.9+ KB

Tabla Shot Involvement

In [29]:
shooter = df_pairs.groupby(['shooter'])['count'].sum().reset_index()
shooter = shooter.rename(columns={"shooter":"player"})
shooter.head()

       player  count
0   . Abrines     12
1    A. Aminu     66
2   A. Baynes     39
3    A. Bogut     16
4  A. Bradley     97

In [30]:
shooter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   player  338 non-null    object
 1   count   338 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

In [31]:
assister = df_pairs.groupby(['assister'])['count'].sum().reset_index()
assister = assister.rename(columns={"assister":"player"})
assister.head()

       player  count
0   . Abrines      6
1    A. Aminu     31
2   A. Baynes     24
3    A. Bogut     21
4  A. Bradley     41

In [32]:
assister.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   player  323 non-null    object
 1   count   323 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.2+ KB

In [33]:
df_involvement = shooter.append(assister)
df_involvement.head()

       player  count
0   . Abrines     12
1    A. Aminu     66
2   A. Baynes     39
3    A. Bogut     16
4  A. Bradley     97

In [34]:
df_involvement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 661 entries, 0 to 322
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   player  661 non-null    object
 1   count   661 non-null    int64
dtypes: int64(1), object(1)
memory usage: 15.5+ KB

In [35]:
df_involvement = df_involvement.groupby(['player'])['count'].sum().reset_index()
df_involvement = df_involvement.rename(columns={"count":"shoot_involvement"})

# Tabla de Shoot Involvement para playoffs

In [36]:
df_involvement.head()

       player  shoot_involvement
0   . Abrines                 18
1    A. Aminu                 97
2   A. Baynes                 63
3    A. Bogut                 37
4  A. Bradley                138