In [1]:
import pandas as pd
import pandasql

Importamos todas las temporadas de 2016-17 a 2019-20

In [2]:
#temporada 2016-17
filename = '/Users/diegovillalizarraga/Maestria Ciencia de Datos ITAM/2do Semestre/Metodos Analiticos/Proyecto Final/NBA-PBP_2016-2017.csv'
df_16 = pd.read_csv(filename)

In [3]:
#temporada 2017-18
filename = '/Users/diegovillalizarraga/Maestria Ciencia de Datos ITAM/2do Semestre/Metodos Analiticos/Proyecto Final/NBA-PBP-2017-2018.csv'
df_17 = pd.read_csv(filename)

In [4]:
#temporada 2018-19
filename = '/Users/diegovillalizarraga/Maestria Ciencia de Datos ITAM/2do Semestre/Metodos Analiticos/Proyecto Final/NBA-PBP-2018-2019.csv'
df_18 = pd.read_csv(filename)

In [5]:
#temporada 2019-20
filename = '/Users/diegovillalizarraga/Maestria Ciencia de Datos ITAM/2do Semestre/Metodos Analiticos/Proyecto Final/NBA-PBP-2019-2020.csv'
df_19 = pd.read_csv(filename)

Agregaremos una columna que la llamaremos temporada en cada uno de los dataframe.

In [6]:
pd.set_option('display.max_columns', 500)

In [7]:
df_16['Season'] = '2016-2017'
df_17['Season'] = '2017-2018'
df_18['Season'] = '2018-2019'
df_19['Season'] = '2019-2020'

In [8]:
data = df_16
data = data.append(df_17)
data = data.append(df_18)
data = data.append(df_19)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2299301 entries, 0 to 457716
Data columns (total 41 columns):
 #   Column              Dtype
---  ------              -----
 0   URL                 object
 1   GameType            object
 2   Location            object
 3   Date                object
 4   Time                object
 5   WinningTeam         object
 6   Quarter             float64
 7   SecLeft             float64
 8   AwayTeam            object
 9   AwayPlay            object
 10  AwayScore           float64
 11  HomeTeam            object
 12  HomePlay            object
 13  HomeScore           float64
 14  Shooter             object
 15  ShotType            object
 16  ShotOutcome         object
 17  ShotDist            float64
 18  Assister            object
 19  Blocker             object
 20  FoulType            object
 21  Fouler              object
 22  Fouled              object
 23  Rebounder           object
 24  ReboundType         object
 25  ViolationPlayer     object
 26  ViolationType       object
 27  TimeoutTeam         object
 28  FreeThrowShooter    object
 29  FreeThrowOutcome    object
 30  FreeThrowNum        object
 31  EnterGame           object
 32  LeaveGame           object
 33  TurnoverPlayer      object
 34  TurnoverType        object
 35  TurnoverCause       object
 36  TurnoverCauser      object
 37  JumpballAwayPlayer  object
 38  JumpballHomePlayer  object
 39  JumpballPoss        object
 40  Season              object
dtypes: float64(5), object(36)
memory usage: 736.8+ MB

Validaremos que el dataframe si tenga todas las temporadas

In [10]:
data['Season'].unique()

array(['2016-2017', '2017-2018', '2018-2019', '2019-2020'], dtype=object)

In [11]:
data['GameType'].unique()

array(['regular', 'playoff'], dtype=object)

In [12]:
data['ShotOutcome'].unique()

array([nan, 'make', 'miss'], dtype=object)

Filtraremos por tiros concretados

In [13]:
#filtramos por tiros concretados
make = data['ShotOutcome'] == 'make'
data_make = data[make]

In [14]:
data_make.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 399823 entries, 1 to 457709
Data columns (total 41 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   URL                 399823 non-null  object
 1   GameType            399823 non-null  object
 2   Location            399614 non-null  object
 3   Date                399823 non-null  object
 4   Time                399823 non-null  object
 5   WinningTeam         399823 non-null  object
 6   Quarter             399823 non-null  float64
 7   SecLeft             399823 non-null  float64
 8   AwayTeam            399823 non-null  object
 9   AwayPlay            197670 non-null  object
 10  AwayScore           399823 non-null  float64
 11  HomeTeam            399823 non-null  object
 12  HomePlay            202153 non-null  object
 13  HomeScore           399823 non-null  float64
 14  Shooter             399820 non-null  object
 15  ShotType            399823 non-null  object
 16  ShotOutcome         399823 non-null  object
 17  ShotDist            399823 non-null  float64
 18  Assister            235766 non-null  object
 19  Blocker             0 non-null       object
 20  FoulType            0 non-null       object
 21  Fouler              0 non-null       object
 22  Fouled              0 non-null       object
 23  Rebounder           0 non-null       object
 24  ReboundType         0 non-null       object
 25  ViolationPlayer     0 non-null       object
 26  ViolationType       0 non-null       object
 27  TimeoutTeam         0 non-null       object
 28  FreeThrowShooter    0 non-null       object
 29  FreeThrowOutcome    0 non-null       object
 30  FreeThrowNum        0 non-null       object
 31  EnterGame           0 non-null       object
 32  LeaveGame           0 non-null       object
 33  TurnoverPlayer      0 non-null       object
 34  TurnoverType        0 non-null       object
 35  TurnoverCause       0 non-null       object
 36  TurnoverCauser      0 non-null       object
 37  JumpballAwayPlayer  0 non-null       object
 38  JumpballHomePlayer  0 non-null       object
 39  JumpballPoss        0 non-null       object
 40  Season              399823 non-null  object
dtypes: float64(5), object(36)
memory usage: 128.1+ MB

Aqui empezamos a crear la tabla de pares.

In [15]:
df_pairs = data_make.groupby(["Shooter", "Assister", "GameType", "Season"]).size().reset_index().rename(columns={0:'count'})

In [16]:
df_pairs.head()

           Shooter            Assister GameType     Season  count
0  . Abrines - OKC   A. Roberson - OKC  regular  2016-2017      6
1  . Abrines - OKC    C. Anthony - OKC  regular  2017-2018      8
2  . Abrines - OKC      C. Payne - OKC  regular  2016-2017      3
3  . Abrines - OKC    D. Johnson - OKC  regular  2017-2018      3
4  . Abrines - OKC  D. McDermott - OKC  playoff  2016-2017      1

In [17]:
df_pairs[['shooter','sh_team']]= df_pairs.Shooter.str.split(" - ",expand=True)
df_pairs[['assister','as_team']]= df_pairs.Assister.str.split(" - ",expand=True)

In [18]:
df_pairs.head()

,Shooter,Assister,GameType,Season,count,shooter,sh_team,assister,as_team
0,. Abrines - OKC,A. Roberson - OKC,regular,2016-2017,6,. Abrines,OKC,A. Roberson,OKC
1,. Abrines - OKC,C. Anthony - OKC,regular,2017-2018,8,. Abrines,OKC,C. Anthony,OKC
2,. Abrines - OKC,C. Payne - OKC,regular,2016-2017,3,. Abrines,OKC,C. Payne,OKC
3,. Abrines - OKC,D. Johnson - OKC,regular,2017-2018,3,. Abrines,OKC,D. Johnson,OKC
4,. Abrines - OKC,D. McDermott - OKC,playoff,2016-2017,1,. Abrines,OKC,D. McDermott,OKC

In [19]:
df_pairs['team'] = df_pairs['sh_team']
df_pairs.head()

,Shooter,Assister,GameType,Season,count,shooter,sh_team,assister,as_team,team
0,. Abrines - OKC,A. Roberson - OKC,regular,2016-2017,6,. Abrines,OKC,A. Roberson,OKC,OKC
1,. Abrines - OKC,C. Anthony - OKC,regular,2017-2018,8,. Abrines,OKC,C. Anthony,OKC,OKC
2,. Abrines - OKC,C. Payne - OKC,regular,2016-2017,3,. Abrines,OKC,C. Payne,OKC,OKC
3,. Abrines - OKC,D. Johnson - OKC,regular,2017-2018,3,. Abrines,OKC,D. Johnson,OKC,OKC
4,. Abrines - OKC,D. McDermott - OKC,playoff,2016-2017,1,. Abrines,OKC,D. McDermott,OKC,OKC

In [20]:
select = ['shooter', 'assister', 'team', 'GameType', 'Season', 'count']
df_pairs = df_pairs[select]
df_pairs = df_pairs.rename(columns={"GameType":"gametype", "Season":"season"})

# Tabla de pares

In [21]:
df_pairs

             shooter      assister team gametype     season  count
0          . Abrines   A. Roberson  OKC  regular  2016-2017      6
1          . Abrines    C. Anthony  OKC  regular  2017-2018      8
2          . Abrines      C. Payne  OKC  regular  2016-2017      3
3          . Abrines    D. Johnson  OKC  regular  2017-2018      3
4          . Abrines  D. McDermott  OKC  playoff  2016-2017      1
...              ...           ...  ...      ...        ...    ...
26088  Z. Williamson      J. Hayes  NOP  regular  2019-2020      1
26089  Z. Williamson    J. Holiday  NOP  regular  2019-2020     32
26090  Z. Williamson     J. Redick  NOP  regular  2019-2020      2
26091  Z. Williamson       L. Ball  NOP  regular  2019-2020     57
26092  Z. Williamson      N. Melli  NOP  regular  2019-2020      5

[26093 rows x 6 columns]

In [22]:
df_pairs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26093 entries, 0 to 26092
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   shooter   26093 non-null  object
 1   assister  26093 non-null  object
 2   team      26093 non-null  object
 3   gametype  26093 non-null  object
 4   season    26093 non-null  object
 5   count     26093 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1.2+ MB

Aqui empezamos a crear la tabla Shot Involvement.

In [23]:
sql = "SELECT Shooter, Assister, GameType, Season, count(*) as count \
        FROM data_make \
        GROUP BY Shooter, Assister, GameType, Season \
        ORDER BY count(*) DESC"
query = pandasql.sqldf(sql, globals())
query

                   Shooter            Assister GameType     Season  count
0          J. Harden - HOU                None  regular  2018-2019    733
1       R. Westbrook - OKC                None  regular  2016-2017    669
2       R. Westbrook - OKC                None  regular  2017-2018    653
3           L. James - CLE                None  regular  2017-2018    643
4         D. DeRozan - TOR                None  regular  2016-2017    564
...                    ...                 ...      ...        ...    ...
28771       Z. Smith - PHI       R. Neto - PHI  regular  2019-2020      1
28772       Z. Smith - PHI     T. Harris - PHI  regular  2019-2020      1
28773       Z. Smith - PHI  T. McConnell - PHI  regular  2018-2019      1
28774  Z. Williamson - NOP      E. Moore - NOP  regular  2019-2020      1
28775  Z. Williamson - NOP      J. Hayes - NOP  regular  2019-2020      1

[28776 rows x 5 columns]

In [24]:
query[['shooter','sh_team']]= query.Shooter.str.split(" - ",expand=True)
query[['assister','as_team']]= query.Assister.str.split(" - ",expand=True)

In [25]:
query

,Shooter,Assister,GameType,Season,count,shooter,sh_team,assister,as_team
0,J. Harden - HOU,None,regular,2018-2019,733,J. Harden,HOU,None,None
1,R. Westbrook - OKC,None,regular,2016-2017,669,R. Westbrook,OKC,None,None
2,R. Westbrook - OKC,None,regular,2017-2018,653,R. Westbrook,OKC,None,None
3,L. James - CLE,None,regular,2017-2018,643,L. James,CLE,None,None
4,D. DeRozan - TOR,None,regular,2016-2017,564,D. DeRozan,TOR,None,None
...,...,...,...,...,...,...,...,...,...
28771,Z. Smith - PHI,R. Neto - PHI,regular,2019-2020,1,Z. Smith,PHI,R. Neto,PHI
28772,Z. Smith - PHI,T. Harris - PHI,regular,2019-2020,1,Z. Smith,PHI,T. Harris,PHI
28773,Z. Smith - PHI,T. McConnell - PHI,regular,2018-2019,1,Z. Smith,PHI,T. McConnell,PHI
28774,Z. Williamson - NOP,E. Moore - NOP,regular,2019-2020,1,Z. Williamson,NOP,E. Moore,NOP
28775,Z. Williamson - NOP,J. Hayes - NOP,regular,2019-2020,1,Z. Williamson,NOP,J. Hayes,NOP

In [26]:
query['team'] = query['sh_team']
query.head()

,Shooter,Assister,GameType,Season,count,shooter,sh_team,assister,as_team,team
0,J. Harden - HOU,None,regular,2018-2019,733,J. Harden,HOU,None,None,HOU
1,R. Westbrook - OKC,None,regular,2016-2017,669,R. Westbrook,OKC,None,None,OKC
2,R. Westbrook - OKC,None,regular,2017-2018,653,R. Westbrook,OKC,None,None,OKC
3,L. James - CLE,None,regular,2017-2018,643,L. James,CLE,None,None,CLE
4,D. DeRozan - TOR,None,regular,2016-2017,564,D. DeRozan,TOR,None,None,TOR

In [27]:
select = ['shooter', 'assister', 'team', 'GameType', 'Season', 'count']
query = query[select]
query = query.rename(columns={"GameType":"gametype", "Season":"season"})

In [28]:
query.head()

        shooter assister team gametype     season  count
0     J. Harden     None  HOU  regular  2018-2019    733
1  R. Westbrook     None  OKC  regular  2016-2017    669
2  R. Westbrook     None  OKC  regular  2017-2018    653
3      L. James     None  CLE  regular  2017-2018    643
4    D. DeRozan     None  TOR  regular  2016-2017    564

In [29]:
shooter = query.groupby(['shooter', 'team', 'gametype', 'season'])['count'].sum().reset_index()
shooter = shooter.rename(columns={"shooter":"player"})
shooter.head()

      player team gametype     season  count
0  . Abrines  OKC  playoff  2016-2017      8
1  . Abrines  OKC  playoff  2017-2018      8
2  . Abrines  OKC  regular  2016-2017    134
3  . Abrines  OKC  regular  2017-2018    118
4       . Ak  CHI  regular  2017-2018      2

In [30]:
shooter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2865 entries, 0 to 2864
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   player    2865 non-null   object
 1   team      2865 non-null   object
 2   gametype  2865 non-null   object
 3   season    2865 non-null   object
 4   count     2865 non-null   int64
dtypes: int64(1), object(4)
memory usage: 112.0+ KB

In [31]:
assister = query.groupby(['assister', 'team', 'gametype', 'season'])['count'].sum().reset_index()
assister = assister.rename(columns={"assister":"player"})
assister.head()

      player team gametype     season  count
0  . Abrines  OKC  playoff  2016-2017      4
1  . Abrines  OKC  playoff  2017-2018      2
2  . Abrines  OKC  regular  2016-2017     40
3  . Abrines  OKC  regular  2017-2018     29
4       . Ak  CHI  regular  2017-2018      1

In [32]:
assister.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2771 entries, 0 to 2770
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   player    2771 non-null   object
 1   team      2771 non-null   object
 2   gametype  2771 non-null   object
 3   season    2771 non-null   object
 4   count     2771 non-null   int64
dtypes: int64(1), object(4)
memory usage: 108.4+ KB

In [33]:
df_involvement = shooter.append(assister)
df_involvement.head()

      player team gametype     season  count
0  . Abrines  OKC  playoff  2016-2017      8
1  . Abrines  OKC  playoff  2017-2018      8
2  . Abrines  OKC  regular  2016-2017    134
3  . Abrines  OKC  regular  2017-2018    118
4       . Ak  CHI  regular  2017-2018      2

In [34]:
df_involvement.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5636 entries, 0 to 2770
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   player    5636 non-null   object
 1   team      5636 non-null   object
 2   gametype  5636 non-null   object
 3   season    5636 non-null   object
 4   count     5636 non-null   int64
dtypes: int64(1), object(4)
memory usage: 264.2+ KB

In [35]:
df_involvement = df_involvement.groupby(['player', 'team', 'gametype', 'season'])['count'].sum().reset_index()
df_involvement = df_involvement.rename(columns={"count":"shot_involvement"})

# Tabla de Shot Involvement

In [36]:
df_involvement.head()

      player team gametype     season  shot_involvement
0  . Abrines  OKC  playoff  2016-2017                12
1  . Abrines  OKC  playoff  2017-2018                10
2  . Abrines  OKC  regular  2016-2017               174
3  . Abrines  OKC  regular  2017-2018               147
4       . Ak  CHI  regular  2017-2018                 3

In [37]:
df_involvement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2901 entries, 0 to 2900
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   player            2901 non-null   object
 1   team              2901 non-null   object
 2   gametype          2901 non-null   object
 3   season            2901 non-null   object
 4   shot_involvement  2901 non-null   int64
dtypes: int64(1), object(4)
memory usage: 113.4+ KB